@import 'modules/normalize.css';
@import 'modules/generic.css';
@import 'modules/font.css';
@import 'modules/color.css';
@import 'modules/container.css';
@import 'modules/section.css';
@import 'modules/around-globe.css';
@import 'modules/icons.css';
@import 'modules/animation.css';
@import 'modules/card.css';
@import 'modules/pop-distribution.css';

/* backpacker
@import 'webfont-backpacker/BPdots.css';
@import 'webfont-backpacker/BPdotsBold.css'; */

:root {
    --backdrop-color: whitesmoke;
    --main-text-color: #424949;
    --main-text-font: 'Anton', 'Arial', sans-serif;
}

body {
    background-color: var(--backdrop-color);
    color: var(--main-text-color);
    font-family: var(--main-text-font);
}