@import "modules/normalize.css";
@import "modules/generic.css";
@import "modules/font.css";
@import "modules/color.css";
@import "modules/container.css";
@import "modules/section.css";
@import "modules/background.css";
@import "modules/around-globe.css";
@import "modules/icons.css";
@import "modules/animation.css";
@import "modules/card.css";
@import "modules/pop-timeline.css";
@import "modules/pop-distribution.css";
@import "modules/pop-growth.css";
@import "modules/pop-birth.css";
@import "modules/pop-longevity.css";
@import "modules/pop-pyramid.css";

:root {
	--backdrop-color: whitesmoke;
	--main-text-color: #424949;
	--main-text-font: "Anton", "Arial", sans-serif;
	--highlight-text-color: yellow;
	--section-one-accent-color: #7dcea0;
	--section-two-accent-color: #ffc300;
	--section-three-accent-color: #3498db;
	--section-four-accent-color: #ec7063;
	--section-six-accent-color: #d5dbdb;
	--section-seven-accent-color: #B2BABB;
}

body {
	background-color: var(--backdrop-color);
	color: var(--main-text-color);
	font-family: var(--main-text-font);
}
