@import 'font-variations/lab-djr.css';
@import 'font-variations/roboto-flex.css';



.dotted {
    font-family: 'LabDJR-VF';
    font-weight: 700;
    font-size:6rem;
}
.anton-font {
    font-family: 'Anton', 'Arial', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin:0;
}
h1 {
    font-size:3rem;
}
small, .small {
    font-size:1rem !important;
}
.mark {
    background-color:var(--highlight-text-color);
}
.ft-size-xs {
    font-size:1.5rem !important;
    line-height:2rem;
}
.ft-size-sm {
    font-size:2rem !important;
    line-height:2rem;
}
.ft-size-md {
    font-size:3rem !important;
    line-height:3rem;
}
.ft-size-lg {
    font-size:3.5rem !important;
    line-height:3.5rem;
}