@import 'font-variations/lab-djr.css';
@import 'font-variations/roboto-flex.css';



.dotted {
    font-family: 'LabDJR-VF';
    font-weight: 700;
    font-size:6rem;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}
h1 {
    font-size:3rem;
}
small {
    font-size:1rem !important;
}


.lf-font {
    font-family: 'Roboto Flex Regular', sans-serif;
    font-variation-settings: "opsz" 14, "wght" 400, "GRAD" 0, "wdth" 100, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
    -webkit-font-variation-settings: "opsz" 14, "wght" 400, "GRAD" 0, "wdth" 100, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.lf-font--regular {
    font-family: 'Roboto Flex Regular', sans-serif;
    font-variation-settings: "wght" 227.12, "GRAD" 11.33;
    -webkit-font-variation-settings: "wght" 227.12, "GRAD" 11.33;
}

.lf-font--emphasize {
    font-family: 'Roboto Flex Regular', sans-serif;
    font-variation-settings: "wght" 599.91, "GRAD" 11.33;
    -webkit-font-variation-settings: "wght" 599.91, "GRAD" 11.33;
}

.lf-font--slant {
    font-family: 'Roboto Flex Regular', sans-serif;
    font-variation-settings: "wdth" 151;
    -webkit-font-variation-settings: "wdth" 151;
}

.ital {
    font-variation-settings: "opsz" 14, "wght" 1000, "GRAD" 0, "wdth" 100, "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
    -webkit-font-variation-settings: "opsz" 14, "wght" 1000, "GRAD" 0, "wdth" 100, "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}