.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align:center;
}

.text-right {
    text-align: right;
}

.display-hide {
    display:none;
}

.section {
    /* background-color: yellowgreen; */
}

