.pop-birth .panel:nth-of-type(1) {
	padding-right: 90px;
}

.pop-birth .panel:nth-of-type(1) .lead {
	font-size: 4rem;
}

.pop-birth .section__title .factors {
	position: relative;
	padding: 8px 0px;
}

.pop-birth .round-icon {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	padding: 8px;
	border-radius: 100%;
	position: absolute;
	top: -6px;
	margin-left: 6px;
	border: 3px solid var(--main-text-color);
}

.pop-birth .round-icon i {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	font-size: 1.5rem;
}

.pop-birth .round-icon--red {
	background-color: #d98880;
	color: whitesmoke;
}

.pop-birth .round-icon--green {
	background-color: #7dcea0;
	color: whitesmoke;
}

.pop-birth .round-icon--blue {
	background-color: #5dade2;
	color: whitesmoke;
}

.pop-birth .round-icon--purple {
	background-color: #d7bde2;
	color: whitesmoke;
}

@media only screen and (max-width: 768px) {
	.pop-birth .panel:nth-of-type(1) .lead {
		font-size: 2rem;
	}
	.pop-birth .section__title .factors {
		font-size: 1.4rem;
	}
	.pop-birth .round-icon i {
		height: 15px;
		width: 15px;
		font-size: 1.2rem;
	}
	.pop-birth .round-icon {
		top:3px;
	}
}
