@font-face {
    font-family: 'BPdotsUnicasePlus';
    src: url('BPdotsUnicasePlus.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicasePlus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicasePlus.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicasePlus.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}