@font-face {
    font-family: 'BPdots';
    src: url('BPdots.eot'); /* IE9 Compat Modes */
    src: url('BPdots.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdots.woff') format('woff'), /* Modern Browsers */
         url('BPdots.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}