@font-face {
    font-family: 'BPdotsMinus';
    src: url('BPdotsMinus.eot'); /* IE9 Compat Modes */
    src: url('BPdotsMinus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsMinus.woff') format('woff'), /* Modern Browsers */
         url('BPdotsMinus.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}