@font-face {
    font-family: 'BPdotsUnicaseMinus';
    src: url('BPdotsUnicaseMinus.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicaseMinus.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicaseMinus.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicaseMinus.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}