@font-face {
    font-family: 'BPdotsUnicasePlus';
    src: url('BPdotsUnicasePlusBold.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicasePlusBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicasePlusBold.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicasePlusBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}