@font-face {
    font-family: 'BPdotsUnicaseVertical';
    src: url('BPdotsUnicaseVertical.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicaseVertical.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicaseVertical.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicaseVertical.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}