@font-face {
    font-family: 'BPdotsUnicaseSquare';
    src: url('BPdotsUnicaseSquareBold.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicaseSquareBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicaseSquareBold.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicaseSquareBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}