@font-face {
    font-family: 'BPdotsPlus';
    src: url('BPdotsPlusBold.eot'); /* IE9 Compat Modes */
    src: url('BPdotsPlusBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsPlusBold.woff') format('woff'), /* Modern Browsers */
         url('BPdotsPlusBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}