@font-face {
    font-family: 'BPdotsUnicase';
    src: url('BPdotsUnicase.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicase.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicase.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicase.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}