@font-face {
    font-family: 'BPdotsVertical';
    src: url('BPdotsVertical.eot'); /* IE9 Compat Modes */
    src: url('BPdotsVertical.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsVertical.woff') format('woff'), /* Modern Browsers */
         url('BPdotsVertical.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}