@font-face {
    font-family: 'BPdotsMinus';
    src: url('BPdotsMinusBold.eot'); /* IE9 Compat Modes */
    src: url('BPdotsMinusBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsMinusBold.woff') format('woff'), /* Modern Browsers */
         url('BPdotsMinusBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}