@font-face {
    font-family: 'BPdotsSquares';
    src: url('BPdotsSquares.eot'); /* IE9 Compat Modes */
    src: url('BPdotsSquares.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsSquares.woff') format('woff'), /* Modern Browsers */
         url('BPdotsSquares.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}