@font-face {
    font-family: 'BPdotsUnicase';
    src: url('BPdotsUnicaseLight.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicaseLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicaseLight.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicaseLight.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}