@font-face {
    font-family: 'BPdotsUnicaseDiamond';
    src: url('BPdotsUnicaseDiamondLight.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicaseDiamondLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicaseDiamondLight.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicaseDiamondLight.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}