@font-face {
    font-family: 'BPdotsUnicaseMinus';
    src: url('BPdotsUnicaseMinusBold.eot'); /* IE9 Compat Modes */
    src: url('BPdotsUnicaseMinusBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPdotsUnicaseMinusBold.woff') format('woff'), /* Modern Browsers */
         url('BPdotsUnicaseMinusBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}